.banner {
  background-image: url("https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 90vh;
}


.cover {
  width: 100%;
  height: 90vh;
  background-color: black;
  opacity: 0.4;
}